@import url('https://fonts.googleapis.com/css?family=Monoton:300,400,500,700');

/*--------------------------------General colors*/

body {
    background-color: #FFFDE8;
    color: #FFFDE8;
}

.menu-bg-color {
    background-color: #FFFDE8;
    color: #F62F2F;
}

/*-----------------------------------General*/

html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: "Monoton", sans-serif;
    word-spacing: 5px;
}


.rounded-corners {
    /*Rounds the corners of containers*/
    border-radius: 25px;
}

img {
    /*Image Border*/
    border-width: 2px;
    border-style: solid;
    border-color: #FFFDE8;
}

/* --------------------------------Button Word Spacing */

.btn {
    word-spacing: 5px;
}

/*---------------------------------header*/

header {
    margin-bottom: 5px;
}

.logo {
    background: url(media/band-assets/images/the-monkees-guitar-logo.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: auto;
    min-height: 230px;
}

.menu-bg {
    margin-top: 40px;
    background-color: #FFFDE8;
    padding: 10px;
}

#nav {
    margin-bottom: 5px;
}

#nav li {
    padding: 0;
}

.menuitem {
    font-family: "Monoton", sans-serif;
    text-align: left;
    padding: 0;
    margin-right: 10px;
}

.menuitem a {
    width: auto;
    text-decoration: none;
    color: #F62F2F;
    display: inline-block;
    padding: 5px;
}


.menuitem span {
    display: inline-block;
    width: 100%;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
}

.active-page {
    border-width: 1px;
    border-radius: 5px;
    border-style: solid;
}

.active-tour-button {
    border-width: 1px;
    border-radius: 5px;
    border-style: solid;
    white-space: nowrap;
    margin-top: -1px;
}

/*-------------------------------Contact Page*/

.contact-page {
    background-color: #F62F2F;
    color: #FFFDE8;
    padding: 15px;
}

.contact-heading {
    text-align: center;
    text-transform: uppercase;
}

form {
    background-color: #FFFDE8;
    color: #F62F2F;
    border-radius: 10px;
    width: 100%;
    margin: auto;
}

.contact-form {
    padding: 20px;
    width: 60%;
}

.contact-page-sign-up-form {
    width: 60%;
    margin: auto;
    margin-bottom: 15px;
}

/* -------- EXTRA CONTACT FORM STYLING LINKED TO 'EMAIL SIGN UP' -----*/

/*-------------------------------Tour Dates Button*/

.tour-button {
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    background-color: #F62F2F;
    color: #FFFDE8!important;
    transition: 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.tour-button:hover,
.tour-button:active,
.tour-button:focus,
.tour-button:active:focus {
    background-color: #FFFDE8;
    border-color: #F62F2F;
    color: #F62F2F!important;
    -webkit-box-shadow: 0px 0px 15px 1px rgba(246, 47, 47, 1);
    -moz-box-shadow: 0px 0px 15px 1px rgba(246, 47, 47, 1);
    -o-box-shadow: 0px 0px 15px 1px rgba(246, 47, 47, 1);
    box-shadow: 0px 0px 15px 1px rgba(246, 47, 47, 1);
    transition: 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}


/*------------------------Header Audio*/

.latest-release {
    letter-spacing: 2px;
    width: auto;

}

.audio-bg {
    background-color: rgba(246, 47, 47, 1);
    color: #FFFDE8;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

/*----------------------------------------Social Icons*/

.social-block {
    visibility: hidden;
}

.social-text-upper,
.social-text-lower,
.list-inline {
    text-align: center;
}

.social-text-upper {
    margin-top: 15px;
    margin-bottom: 5px;
}

.social-text-lower {
    margin-top: -10px;

}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 50px;
    height: 30px;
    padding: 10px 0;
    border-radius: 40% 50% 40% 50% / 30% 70% 30% 70%;
    font-size: 20px;
    line-height: 11px;
    text-align: center;
    color: #F62F2F;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.social-links li a i:hover {
    background-color: rgba(246, 47, 47, 1);
    color: #FFFDE8;

}

/*-----------------------------------About Page*/

.about-section {
    color: #FFFDE8;
    background-color: #F62F2F;
    letter-spacing: 1px;
    padding: 15px;
}

.about-header {
    text-align: center;
    margin-bottom: 10px;
}

.bio-padding {
    padding: 10px;
}

.band-bio-box {
    border-radius: 10px;
    border-width: 1px;
    border-color: #FFFDE8;
    border-style: solid;
    padding: 15px;
    -webkit-box-shadow: 0px 0px 10px 5px rgba(255, 253, 232, 0.5);
    -moz-box-shadow: 0px 0px 10px 5px rgba(255, 253, 232, 0.5);
    -o-box-shadow: 0px 0px 10px 5px rgba(255, 253, 232, 0.5);
    box-shadow: 0px 0px 10px 5px rgba(255, 253, 232, 0.5);
}

.band-bio {
    color: #FFFDE8;
    text-align: center;
    font-size: 15px;
    letter-spacing: 1px;
}

.band-image-title {
    text-align: center;
    text-transform: uppercase;
}

.band-image {
    width: 90%;
    height: auto;
    margin: auto;
    display: block;
}

.band-member-photos {
    margin-bottom: 10px;
}

.band-members {
    text-align: center;
}

.bio-image {
    margin: 0 auto;
    width: 300px;
    height: 200px;
}

/*----------------------------------Gallery*/

.gallery-box {
    background-color: #F62F2F;
}

.gallery-header {
    color: #FFFDE8;
    text-align: center;
}

.gallery-image {
    width: 200px;
    height: 200px;
    margin: auto;
    display: block;
}

.gallery-audio {
    text-align: center;
    margin-bottom: 10px;
}

.gallery-video video {
    width: 95%;
    margin: auto;
    display: block;
}

.gallery-video {
    margin-bottom: 15px;
}

/*-------------------Timeline-----------(Inspiration for timeline design and code came from the User Centric Frontend Development Module)*/

.tour-box {
    background-color: #F62F2F;
    padding-top: 10px;
}

.timeline-item {
    padding: 50px 0px 0px 30px;
    position: relative;
    color: #FFFDE8;
    border-left: 1px solid;
    letter-spacing: 1px;
}

.timeline-item p {
    padding: 0;
    margin: 0;
}

.timeline-item::before {
    content: attr(dates);
    position: absolute;
    left: 15px;
    top: 30px;
    display: block;
    font-family: "Monoton", sans-serif;
    font-weight: 500;
    font-size: 14px;
    padding: 0;
    margin: 0;
}

.timeline-item::after {
    width: 12px;
    height: 12px;
    display: block;
    top: 31px;
    position: absolute;
    left: -6px;
    border-radius: 30% 90% 30% 90% / 30% 90% 30% 90%;
    content: "";
    background: #FFFDE8;
}

.tour-dates-heading {
    color: #FFFDE8;
    text-align: center;
    margin-bottom: -30px;
}

.tour-items {
    display: inline;
}

.tour-location {
    font-size: 14px;
}

.arena-name {
    font-size: 12px;
}

.tour-details {
    padding: 10px;
}

/*---------------------------------------Book Now Button*/

.book-now-button {
    margin-top: 50px;
    margin-bottom: 0;
    display: inline-block;
    width: auto;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    background-color: #F62F2F;
    color: #FFFDE8;
    border-radius: 10px;
    border-color: #FFFDE8;
    transition: 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    border-style: solid;
}

.book-now-button:hover,
.book-now-button:active,
.book-now-button:focus,
.book-now-button:active:focus {
    background-color: #FFFDE8;
    border-color: #F62F2F;
    color: #F62F2F;
    -webkit-box-shadow: 9px 9px 40px -10px rgba(246, 47, 47, 1);
    -moz-box-shadow: 9px 9px 40px -10px rgba(246, 47, 47, 1);
    -o-box-shadow: 9px 9px 40px -10px rgba(246, 47, 47, 1);
    box-shadow: 9px 9px 40px -10px rgba(246, 47, 47, 1);
    transition: 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

/*-------------------------------------Video*/

video {
    position: relative;
    top: 50%;
    left: 0;
    min-width: 80%;
    width: 100%;
    height: auto;
}

.container {
    position: relative;
    padding: 0;
}



/*---------------------------------------Footer*/

footer,
.footer-bg {
    background-color: #FFFDE8;
    color: #F62F2F;
    height: auto;
    /* background-size: auto; */
    text-align: center;
}

/* --------------------------Contact Button*/

.contact-us-button {
    vertical-align: middle;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
    width: 60%;
    height: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    background-color: #F62F2F;
    color: #FFFDE8;
    transition: 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.contact-us-button:hover,
.contact-us-button:active,
.contact-us-button:focus,
.contact-us-button:active:focus {
    background-color: #FFFDE8;
    border-color: #F62F2F;
    color: #F62F2F;
    transition: 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

/*--------------------------Tour Contact Button---*/

.tour-contact-button {
    display: inline-block;
    width: auto;
    height: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    background-color: #FFFDE8;
    color: #F62F2F;
    transition: 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.tour-contact-button:hover,
.tour-contact-button:active,
.tour-contact-button:focus,
.tour-contact-button:active:focus {
    background-color: #F62F2F;
    border-color: #FFFDE8;
    color: #FFFDE8;
    transition: 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.tour-contact {
    text-align: center;
    padding-bottom: 10px;
}

/*----------------------------Footer Social Icons------*/

#footer-social-block {
    visibility: visible;
}

.footer-social-links {
    padding-bottom: 15px;
}

.footer-social-links li a i {
    width: 50px;
    height: 30px;
    padding: 10px 0;
    border-radius: 40% 50% 40% 50% / 30% 70% 30% 70%;
    font-size: 20px;
    line-height: 11px;
    text-align: center;
    color: #F62F2F;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.footer-social-links li a i:hover {
    background-color: rgba(246, 47, 47, 1);
    color: #FFFDE8;

}

/*-------------------------------Email Sign Up -------*/

.sign-up-container {
    position: relative;
}

.sign-up-form {
    background-color: #FFFDE8;
    margin-bottom: 15px;
}

.sign-up-form p {
    font-weight: 300;
    font-size: 16px;
}

input[type='name'],
input[type='email'],
textarea[type='textarea'] {
    background-color: #F62F2F;
    outline: none;
    display: inline-block;
    width: 100%;
    padding: 10px;
    margin: 2px;
    border: 2px solid transparent;
    border-radius: 5px;
    color: #FFFDE8;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 700;
}

input[type='name']:focus,
input[type='email']:focus,
textarea[type='textarea']:focus {
    border: 1px solid #F62F2F;
    background-color: #FFFDE8;
    color: #F62F2F;
    font-family: sans-serif;
    font-weight: 700;
}

input::placeholder {
    color: #FFFDE8;
}

.footer-email {
    width: 50%;
}

#submit-button,
#sign-up-button {
    vertical-align: middle;
    padding: 10px;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    text-decoration: none;
    background-color: #F62F2F;
    color: #FFFDE8;
    transition: 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

#submit-button:hover,
#submit-button:active,
#submit-button:focus,
#submit-button:active:focus,
#sign-up-button:hover,
#sign-up-button:active,
#sign-up-button:focus,
#sign-up-button:active:focus {
    background-color: #FFFDE8;
    border-color: #F62F2F;
    color: #F62F2F;
    -webkit-box-shadow: 9px 9px 40px -10px rgba(255, 253, 232, 1);
    -moz-box-shadow: 9px 9px 40px -10px rgba(255, 253, 232, 1);
    -o-box-shadow: 9px 9px 40px -10px rgba(255, 253, 232, 1);
    box-shadow: 9px 9px 40px -10px rgba(255, 253, 232, 1);
    transition: 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

/*------------------------------Media Queries*/

@media (max-width: 384px) {
   
    .tour-box {
        padding-top: 0;
    }

    .timeline-item {
        text-align: center;
        border-left: 0;
        padding: 10px;
        background-color: #fffde8;
        color: #f52f2f;
        border-radius: 25px;
    }

    .timeline-item::before {
        position: static;
    }

    .timeline-item::after {
        display: none;
    }
    
    .tour-location {
        font-size: 20px;
    }
    
    .arena-name {
        font-size: 16px;
    }

    .book-now-button {
        margin-top: 10px;
        display: block;
        margin-bottom: 10px;
    }
    
    .tour-contact {
        margin-top: -40px;
    }
    
    .tour-contact-button {
        display: block;
        white-space: inherit;
    }
}

@media(max-width: 410px) {
    .tour-contact-button {
        font-size: 9px;
    }
}

@media(min-width: 565px) {
    .tour-button {
        margin-bottom: 0;
    }
}

@media(max-width: 565px) {
    .contact-form {
        width: 100%!important;
    }
    .menuitem span {
        font-size: 12px;
    }
}

@media(max-width: 767px) {
    .menuitem {
        margin: 0px;
    }
    .tour-button,
    .active-tour-button {
        margin-top: 15px;
        margin-bottom: 10px;
    }
    .social-block {
        visibility: hidden;
        display: none;
    }
    form {
        width: 100%;
    }
    .contact-form {
        width: 90%;
    }
    h1 {
        font-size: 20px;
    }
    h2 {
        font-size: 18px;
    }
    h3 {
        font-size: 16px;
    }
    .sign-up-form p,
    .band-bio {
        font-size: 12px;
    }
    #submit-button,
    #sign-up-button {
        font-size: 12px;
    }
}

@media(min-width: 768px) {
    .tour-button {
        margin-top: 0px;
    }
    .social-block {
        visibility: visible;
    }
    .menu-bg {
        background-color: #FFFDE8;
        padding: 10px;
        margin-bottom: 0px;
    }
    #footer-social-block {
        visibility: hidden;
        display: none;
    }
    .book-now-button {
        font-size: 18px;
    }
    .tour-location {
        font-size: 14px;
    }

    .arena-name {
        font-size: 12px;
    }
}

@media(min-width: 992px) {
    #footer-social-block {
        visibility: hidden;
        display: none;
    }
    .band-image-title {
        margin-top: -20px;
    }
}


@media(max-width: 991px) {
    .menuitem {
        text-align: center;
    }
    .contact-form {
        width: 80%;
    }
}


@media screen and (max-width: 736px) {
    .footer-email {
        display: block;
        width: 100%;
    }
}

/* Below code taken from: https://stackoverflow.com/questions/24066059/bootstrap-3-adding-a-new-set-of-columns */

.col-xxs-1,
.col-xxs-2,
.col-xxs-3,
.col-xxs-4,
.col-xxs-5,
.col-xxs-6,
.col-xxs-7,
.col-xxs-8,
.col-xxs-9,
.col-xxs-10,
.col-xxs-11,
.col-xxs-12 {
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}

@media (max-width: 384px) {

    .col-xxs-1,
    .col-xxs-2,
    .col-xxs-3,
    .col-xxs-4,
    .col-xxs-5,
    .col-xxs-6,
    .col-xxs-7,
    .col-xxs-8,
    .col-xxs-9,
    .col-xxs-10,
    .col-xxs-11 {
        float: left;
    }

    .col-xxs-1 {
        width: 8.333333333333332%;
    }

    .col-xxs-2 {
        width: 16.666666666666664%;
    }

    .col-xxs-3 {
        width: 25%;
    }

    .col-xxs-4 {
        width: 33.33333333333333%;
    }

    .col-xxs-5 {
        width: 41.66666666666667%;
    }

    .col-xxs-6 {
        width: 50%;
    }

    .col-xxs-7 {
        width: 58.333333333333336%;
    }

    .col-xxs-8 {
        width: 66.66666666666666%;
    }

    .col-xxs-9 {
        width: 75%;
    }

    .col-xxs-10 {
        width: 83.33333333333334%;
    }

    .col-xxs-11 {
        width: 91.66666666666666%;
    }

    .col-xxs-12 {
        width: 100%;
    }

    .col-xxs-push-1 {
        left: 8.333333333333332%;
    }

    .col-xxs-push-2 {
        left: 16.666666666666664%;
    }

    .col-xxs-push-3 {
        left: 25%;
    }

    .col-xss-push-4 {
        left: 33.33333333333333%;
    }

    .col-xxs-push-5 {
        left: 41.66666666666667%;
    }

    .col-xxs-push-6 {
        left: 50%;
    }

    .col-xxs-push-7 {
        left: 58.333333333333336%;
    }

    .col-xxs-push-8 {
        left: 66.66666666666666%;
    }

    .col-xxs-push-9 {
        left: 75%;
    }

    .col-xxs-push-10 {
        left: 83.33333333333334%;
    }

    .col-xxs-push-11 {
        left: 91.66666666666666%;
    }

    .col-xxs-pull-1 {
        right: 8.333333333333332%;
    }

    .col-xxs-pull-2 {
        right: 16.666666666666664%;
    }

    .col-xxs-pull-3 {
        right: 25%;
    }

    .col-xxs-pull-4 {
        right: 33.33333333333333%;
    }

    .col-xxs-pull-5 {
        right: 41.66666666666667%;
    }

    .col-xxs-pull-6 {
        right: 50%;
    }

    .col-xxs-pull-7 {
        right: 58.333333333333336%;
    }

    .col-xxs-pull-8 {
        right: 66.66666666666666%;
    }

    .col-xxs-pull-9 {
        right: 75%;
    }

    .col-xxs-pull-10 {
        right: 83.33333333333334%;
    }

    .col-xxs-pull-11 {
        right: 91.66666666666666%;
    }

    .col-xxs-offset-1 {
        margin-left: 8.333333333333332%;
    }

    .col-xxs-offset-2 {
        margin-left: 16.666666666666664%;
    }

    .col-xxs-offset-3 {
        margin-left: 25%;
    }

    .col-xxs-offset-4 {
        margin-left: 33.33333333333333%;
    }

    .col-xxs-offset-5 {
        margin-left: 41.66666666666667%;
    }

    .col-xxs-offset-6 {
        margin-left: 50%;
    }

    .col-xxs-offset-7 {
        margin-left: 58.333333333333336%;
    }

    .col-xxs-offset-8 {
        margin-left: 66.66666666666666%;
    }

    .col-xxs-offset-9 {
        margin-left: 75%;
    }

    .col-xxs-offset-10 {
        margin-left: 83.33333333333334%;
    }

    .col-xxs-offset-11 {
        margin-left: 91.66666666666666%;
    }
}
